<div class="page-header">
	<h3 class="col-sm-8" style="margin-top:0px;">Products</h3>
	
	<div class="col-sm-4 search-wrapper pull-right right-side">     
			<input type="text" class="form-control btn-sm search-field" placeholder="Search for keyword or sku..." ng-model="product.searchFilter">
			<span class="glyphicon glyphicon-search btn-lg search-icon" style="position: absolute;"></span>
	</div>
	
	<div class="clearer"></div>
</div>

<div class="col-sm-6" ng-if="isAdmin">
<form name="productForm" class="form-horizontal" ng-submit="product.createProduct()" novalidate>
	
	<div class="form-group">
		<div class="col-sm-12">
			<input type="text" class="form-control" placeholder="Name" ng-model="product.productData.name" maxlength="80" required>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-12">
			<input type="text" class="form-control" placeholder="Keywords" ng-model="product.productData.keywords" maxlength="30" required>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-4">
			<input type="text" class="form-control" placeholder="SKU" ng-model="product.productData.sku" maxlength="20" required>
		</div>
		<div class="col-sm-4">
			<input type="number" class="form-control" placeholder="Units/Order" ng-model="product.productData.unitsPack" min="1" max="99" required>
		</div>
		<div class="col-sm-4">
			<select class="form-control" ng-model="product.productData.provider" ng-options="option for option in PROVIDERS" required>
				<option value="">-- Select Provider --</option>
			</select>
	    </div>
	</div>
	<div class="form-group">
		<div class="col-sm-4">
			<label style="font-weight: normal;">
           		<input type="checkbox" ng-init="product.productData.permanent = false" ng-model="product.productData.permanent" 
       			 ng-checked="product.productData.permanent">
            	Permanent in stock
          </label>
		</div>
		<div ng-show="product.productData.permanent"> 
			<div class="col-sm-4">
				<input type="number" class="form-control" placeholder="In stock" ng-model="product.productData.stock" min="0" max="99">
			</div>
		    <div class="col-sm-4">
	          <input type="number" class="form-control" placeholder="Minimun in stock" min="0" max="99" ng-model="product.productData.limit">
	        </div>
        </div>

	</div>
	<div class="form-group">
		<div class="col-sm-12">
			<textarea class="form-control" placeholder="Description" ng-model="product.productData.description" rows="3" maxlength="250" required></textarea>
		</div>
	</div>
	<div class="form-group">
	<div class="col-sm-offset-0 col-sm-6">
	
		<ul class="nav navbar-nav">
		<li><button type="submit" class="btn btn-primary" ng-disabled="productForm.$invalid">Create Product</button></li>
		<li><div class="validation-message" ng-show="product.message" >
			{{ product.message }}
		</div></li>
	</ul>
		
	</div>
	</div>

</form>
</div>

<table class="table table-hover" ng-show="product.products">
	<thead>
		<tr>
			<th>#</th>
			<th></th>
			<th>Name</th>
			<th>Keywords</th>
			<th>SKU</th>
			<th>Provider</th>
			<th ng-if="isAdmin">Units/Order</th>
			<th ng-if="isAdmin">Limit</th>
			<th ng-if="isAdmin">Existencies</th>
			<th ng-if="isAdmin">Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in product.products | filter:product.searchFilter">
			<td>{{ $index+1 }}</td>
			<td><img src="assets/imgs/products/{{item.sku}}.jpg" class="cart-product-img img-thumbnail"></td>
			<td>{{ item.name }}</td>
			<td>{{ item.keywords }}</td>
			<td>{{ item.sku }}</td>
			<td>{{ item.provider }}</td>
			<td ng-if="isAdmin">{{ item.unitsPack }}</td>
			<td ng-if="isAdmin">{{ item.limit }}</td>
			<td ng-if="isAdmin">{{ item.stock }}</td>
			<td ng-if="isAdmin">
				<a href="#" ng-click="product.deleteProduct(item._id)" class="btn btn-xs btn-danger">Delete</a>
			</td>
		</tr>
	</tbody>
</table>

