<!-- ADD TO CART PRODUCTS -->
<div class="col-md-8">
	
		<div class="make-order-header">
			<div class="col-md-8 search-wrapper">
				<div class="col-md-6 search-wrapper">
				
				    
				     
				    <input type="text" class="form-control btn-sm search-field" placeholder="Search..." ng-model="main.searchFilter">

				    <span class="glyphicon glyphicon-search btn-lg" id="searchIcon"></span>

				   
				</div>
				<div class="filters">
					<label>
			   	 		<input type="checkbox" ng-model="main.filter1" ng-true-value="'Home Depot'" ng-false-value="''">
			   			Home Depot &nbsp;&nbsp;
			  		</label>
					<label>
			   	 		<input type="checkbox" ng-model="main.filter2" ng-true-value="'HD Supply'" ng-false-value="''"> 
			   	 		HD Supply
			  		</label>
			  	</div>
			</div>
			<div class="col-md-4 cart-text text-right">
				<span class="glyphicon glyphicon-shopping-cart"></span><a href="/orders/cart"> Cart <span class="badge">{{main.itemsInCart()}}</span></a>
			</div>
		</div>
	<div class="clearer"></div>
	<div class="all-products-container">
	<div ng-repeat="item in main.products 
					| filter:main.searchFilter 
					| orderBy:'name' 
					| filter: main.filter1 
					| filter: main.filter2" 

					class="col-xs-6 product-container-wrapper">
		<div class="product-container">
			<p><strong>{{item.name}}  </strong><span class="glyphicon glyphicon-link hidden-icon"></span></p>
			
			<p>sku: <em>{{item.sku}}</em></p>
			<p>units per pack: <em>{{item.unitsPack}}</em></p>
		
			<p>Provider: <em>{{item.provider}}</em></p>
			<form name="addToCart" class="form-inline" ng-submit="main.addToCart(item)" novalidate>
				<input name="qty" type="number" min="1" max="99" maxlength="2" class="quantity-text form-control btn-xs" ng-model="main.quantity" required> 
				<button type="submit" class="btn-xs" ng-disabled="addToCart.qty.$invalid">add to cart</button>
			</form>
		</div>
	</div>
	<div class="clearer"></div>
	</div>
</div>

<!-- PENDING REQUESTS  
<div class="col-md-4 right-container">
	<h4>Pending requests</h4>
	<hr>
	<div ng-repeat="item in main.requests">
		<div class="request-pending-container">
			<strong class="text-left">{{item.user}}</strong>
			<small class="align-right">{{item.date | date: "MMM d, y"}}</small>
			<br>
			<a href="/requests/details" class="align-right" ng-click="main.setCurrentRequest(item)">Details</a>
			<div ng-repeat="prod in item.products">
				<em>{{prod.sku}}</em>
			</div>
		</div>
	</div>
	<div ng-show="main.requests.length == 0">
    <p>There is no pending requests</p>
  </div>
</div>
-->

<div class="col-md-4">
  <h4>Pending requests</h4>
  <hr>
  <div ng-repeat="item in main.requests">
    <div class="request-pending-container" style="border: 1px solid #ccc">
      <small class="text-left">By: </small><strong >{{item.user}}</strong>
      <small class="pull-right">On: <strong>{{item.date | date: "MMM d, y" }}</strong></small>
      <br>
      <hr style="border-top: 1px dashed #ccc">

      <small class="text-left">Products:</small>
      <a href="/requests/details" class="pull-right" ng-click="main.setCurrentRequest(item)">Details</a>
      <ol class="request-products-list">
        <li ng-repeat="prod in item.products" >
          <div>
            <em>{{prod.name}}</em>
            <div class="pull-right">
              <small>SKU #: </small><em>{{prod.sku}}</em>&nbsp;&nbsp;<a href="{{prod.url}}" target="_blank" class="glyphicon glyphicon-new-window"></a> 
            </div>
          </div>
        </li>
      </ol>
      
    </div>
  </div>
  <div ng-show="request.pendingRequests.length == 0">
    <p>There is no pending requests</p>
  </div>
</div>