<!-- ADD TO CART PRODUCTS -->
<div class="col-md-8 left-side">
	<div class="col-sm-12 list-header">
		<div class="col-md-10 left-side">     
			<div class="col-md-6 search-wrapper">
				<input type="text" class="form-control btn-sm search-field" placeholder="Search..." ng-model="admin.searchFilter">
				<span class="glyphicon glyphicon-search btn-lg search-icon" style="position: absolute;"></span>
			</div>
			
			<div class="col-md-6 filters">
				<label>
			   	 	<input type="checkbox" ng-model="admin.filter1" ng-true-value="'Home Depot'" ng-false-value="''">
			   			Home Depot &nbsp;&nbsp;
			   	</label>
				<label>
			   	 	<input type="checkbox" ng-model="admin.filter2" ng-true-value="'HD Supply'" ng-false-value="''"> 
			   	 		HD Supply
			  	</label>
			</div>
		</div>
		<div class="col-md-2 cart-link" id="cart-link">
			<span class="glyphicon glyphicon-shopping-cart"></span><a href="#" ng-click="admin.showCart()">Cart <span class="badge">{{admin.itemsInCart()}}</span></a>
		</div>
	</div>
	<div>
		<div ng-repeat="item in admin.products 
					| filter: admin.searchFilter 
					| orderBy:'item.limit'
					| filter: admin.filter1 
					| filter: admin.filter2" class="col-sm-12">
				<div class="product-container animated fadeIn">
					<img src="assets/imgs/products/{{item.sku}}.jpg" class="img-responsive product-img">
					<div class="product-description">
						<p><strong>{{item.name}}</strong></p>
						
						<p><u>SKU #</u> <em>{{item.sku}} </em> |
						<u> Units per order</u> <em>{{item.unitsPack}}</em> |
						<u> Seller</u> <em>{{item.provider}}</em></p>
						<p>{{item.description}}</p>


						<small name="alert{{$index}}" style="color: #b94a48;" hidden>
							<strong>Quantity is not valid!</strong>
						</small>
						<small name="success{{$index}}" style="color: #468847;" hidden>
							<strong>Added!</strong>
						</small>
						<form name="addCartForm{{$index}}" class="form-inline" novalidate>

							<input  class="form-control" style="width:60px;" type="number" id="quantity{{$index}}" placeholder="Qty" required>
							<button class="btn btn-default" ng-click="admin.addToCart(item, $index)">+ add to cart</button>
						</form>
						
					</div>
				</div>
				<hr>
			<div style="clear: both;"></div>
		</div>
	</div>
</div>



<div class="col-md-4 right-side">
	<!-- PENDING REQUESTS  -->
	<div class="preview-container pending-requests">
		<h3 class="preview-container-header">Pending requests</h3>
		<div ng-show="admin.requests.length == 0">
			<p>There is no pending requests</p>
		</div>
		<div class="list-group">
			<a href="/requests/details" class="list-group-item" ng-repeat="item in admin.requests" ng-click="admin.setCurrentRequest(item)">
				<div class="list-group-item-heading">
				  	<small class="pull-right"><strong>{{item.date | date: "MMM d, y"}}</strong></small>
				   	<h4>{{item.user}}</h4>
				</div>
				<div class="list-group-item-text" ng-repeat="prod in item.products">
				    <p>{{prod.name}}</p>
				</div>
			</a>
		</div>
	</div>
	<!-- MANAGERS ORDERS -->
	<div class="preview-container managers-orders">
		<h3 class="preview-container-header">Managers Orders</h3>
		<div ng-show="admin.managersOrders.length == 0">
			<p>No one is ordering</p>
		</div>
		<div class="list-group">
			<a class="list-group-item" ng-repeat="item in admin.managersOrders">
				<div class="list-group-item-heading">
				  	<small class="pull-right"><strong>{{item.date | date: "MMM d, y"}}</strong></small>
				   	<h4>{{item.user.name}}</h4>
				</div>
				<div class="list-group-item-text" ng-repeat="prod in item.products">
					
					<img src="assets/imgs/products/{{prod.sku}}.jpg" class="img-circle product-img img-sm">
					<div class="product-name-wrapper">
					<small style="vertical-align:center;">{{prod.name}}</small>
				    </div>
				</div>
				
				<div>
					<button class="btn btn-primary btn-xs">+ add to cart</button>
				</div>
			</a>
		</div>
	</div>
	
</div>



