<div class="login-container">

	<div class="login-form" ng-if="!login.loggedIn">
		<h3>Log In</h3>	
		<form ng-submit="login.doLogin()" id="loginForm" class="form-signin">
			<div class="alert alert-danger" ng-if="login.error">
				{{login.error}}
			</div>
			<div class="form-group">

				<div class="input-group">
 					<span class="input-group-addon glyphicon glyphicon-user" id="username-add"></span>
  					<input type="text" class="form-control" placeholder="Username" aria-describedby="username-add" ng-model="login.loginData.username">
				</div>
			</div>

			<div class="form-group">
				<div class="input-group">
 					<span class="input-group-addon glyphicon glyphicon-lock" id="password-add"></span>
  					<input type="password" class="form-control" placeholder="Password" aria-describedby="password-add" ng-model="login.loginData.password">
				</div>
			</div>
			<div class="form-group">
			<button type="submit" class="btn btn-block btn-primary">
				<span>Login</span>
				
			</button>
			</div>

		</form>
		<div class="logo">
			<h3>WareHouse</h3>
		</div>
	</div>
	<div class="page-header" ng-if="login.loggedIn">
		<h3>You're already logged in!<h3>
	</div>
	
</div>

