<div class="login-page">
<div class="login-container" ng-if="!login.loggedIn">

	<div class="login-form">
		<h3>Log In</h3>	
		<form ng-submit="login.doLogin()" id="loginForm" class="form-signin">
			<div class="alert alert-danger" ng-show="login.error">
				{{login.error}}
			</div>
			<div class="form-group">
			  
			    <input type="text" class="form-control" placeholder="Username" ng-model="login.loginData.username" required>
				<span class="login-icon glyphicon glyphicon-user"></span>
			</div>
			<div class="form-group">
			  
			    <input type="password" class="form-control" placeholder="Password" ng-model="login.loginData.password" required>
				<div class="login-icon glyphicon glyphicon-lock"></div>
			</div>
			<br>
			<div class="form-group">
			<button type="submit" class="btn btn-block btn-primary">
				<span>Login</span>
				
			</button>
			</div>

		</form>
	</div>	
</div>
</div>
<div class="page-header" ng-if="login.loggedIn">
	<h3>You're already logged in!<h3>
</div>