main {
	
	margin-bottom: 20px;
}

.fixed{

	position: fixed;
}

.no-opacity.in {

	opacity: 0;

}

.navbar {
	border-radius: 0px;
}

hr {
	margin-top: 6px;
}

hr.thin-line {
	margin: 0 0 0;
    border: 0;
    border-top: 1px solid #B2D9EF;
}

.left-container {

	width: 450px;
	float: left;

}

.right-container {

	width: 690px;
	float: right;

}

.product-container {

	/*border-bottom: 1px solid #B2D9EF;*/
	margin-bottom: 0px;
	padding-bottom: 14px;
	min-height: 160px;

}

.cart-product-container{
	margin-bottom: 0px;
	padding-bottom: 14px;
	min-height: 96px;
}

.product-container > .product-img {

	width: 145px;
	height: 145px;
	float: left;

}

.cart-product-img {
	width: 90px;
	height: 90px;
	float: left;
}

.quantity-handler{
	padding-top: 0px;
}

.btn-wrapper {
	padding-top: 2px;
	padding-left: 0;
	padding-right: 0;
}

.qty-text {
	font-size: 18px;
	padding: 0;
}
.product-container > .product-description > p > strong{

	font-size: 16px;

}

.product-container > .product-description > p {

	margin-bottom: 8px;

}

.product-description {

	padding-left: 160px;]
}

.modal {
  text-align: center;
}

.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.well {

	border: 1px solid #32A5E7;
	background-color: #DBECF5;

}

.cart-link {

	text-align: right;
	padding-top: 14px;
	padding-right: 0px;
	color: #32A5E7;

}

.list-header {
	border-bottom: 1px solid #B2D9EF;
	margin-bottom: 10px;
	padding: 0 0 10px;
	
}

.search-wrapper {
	padding-left: 0px;
}

.search-wrapper input {
	text-indent: 25px;
}

.search-icon {
	padding: 6px 10px 0;
}

.filters {
	padding-top: 8px;
}

.filters > label {
	font-weight: normal;
}

.preview-container-header {
	border-bottom: 1px solid #eee; 
	padding-bottom: 8px;
	margin-bottom: 14px;
}
/*---------*/

